---
layout: default
title: Blog
---
<div class="page-content wc-container">
  {% for post in paginator.posts %}
  	{% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
  	{% if currentyear != year %}
    	{% unless forloop.first %}</ul>{% endunless %}
    		<h5>{{ currentyear }}</h5>
    		<ul class="posts">
    		{% capture year %}{{currentyear}}{% endcapture %} 
  		{% endif %}
    <li>
		<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
		<br>
		<h3>
		<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		</h3>
	</li>
{% endfor %}
